<html class="grass">
<h1>Listing pets</h1>
 <%= link_to 'New Pet', new_pet_path %>
<table>
  <tr>
    <th>Type</th>
    <th>Species</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>
 
  <% @pet.each do |pet| %>
    <tr>
      <td><%= pet.pet_type %></td>
      <td><%= pet.pet_species %></td>
      <td><%= pet.age %></td>
      <td><%= pet.gender %></td>
      <td><%= link_to 'Show', pet_path(pet) %></td>
      <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
      <td><%= link_to 'Destroy',
                              pet_path(pet),
                              method: :delete,
                              data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

 <%= link_to 'Back to Welcome Page', root_path%>

