<html class="grass"></html>
<div class="indexPage">
  <h1>Listing pets</h1>
</div>
<div class="addPetLink">
   <%= link_to 'New Pet', new_pet_path %>
</div>
<div class="table">   
  <table id="tableList">
    <tr>
      <th><font size="5">Type</font></th>
      <th><font size="5">Species</font></th>
      <th><font size="5">Age</font></th>
      <th><font size="5">Gender</font></th>
      <th><font size="5">Show</font></th>
      <th><font size="5">Edit</font></th>
      <th><font size="5">Destroy</font></th>
    </tr>
   
    <% @pet.each do |pet| %>
      <tr>
        <td><font size="4"><%= pet.pet_type %></font></td>
        <td><font size="4"><%= pet.pet_species %></font></td>
        <td><font size="4"><%= pet.age %></font></td>
        <td><font size="4"><%= pet.gender %></font></td>
        <td><font size="4"><%= link_to 'Show', pet_path(pet) %></font></td>
        <td><font size="4"><%= link_to 'Edit', edit_pet_path(pet) %></font></td>
        <td><font size="4"><%= link_to 'Destroy',
                                pet_path(pet),
                                method: :delete,
                                data: {confirm: 'Are you sure?' } %></font></td>
      </tr>
    <% end %>
  </table>
</div>
  
</div>
<div class="backLink">
 <%= link_to 'Back to Welcome Page', root_path%>
</div>
