<p class="viewName">
    <strong>Name:</strong>
    <%= @pet.name %>
</p>

<p class="viewAge">
    <strong>Age:</strong>
    <%= @pet.age %>
</p>

<p class="viewGender">
    <strong>Gender:</strong>
    <%= @pet.gender %>
</p>

<p class="viewPetType">
    <strong>Pet Type:</strong>
    <%= @pet.pet_type %>
</p>

<p >
    <strong>Pet Species:</strong>
    <%= @pet.pet_species %>
</p>

<p>
    <strong>Traits:</strong>
    <%= @pet.traits %>
</p>

<p>
    <strong>Description:</strong>
    <%= @pet.description %>
</p>

<p>
    <strong>Owner:</strong>
    <%= @pet.owner %>
</p>

<p>
    <strong>Phone Number:</strong>
    <%= @pet.number %>
</p>

<p>
    <strong>Email:</strong>
    <%= @pet.email %>
</p>

<p>
    <strong>City:</strong>
    <%= @pet.city %>
</p>
