<p class="viewName">
    <strong>Name:</strong>
    <%= @pet.name %>
</p>

<p class="viewAge">
    <strong>Age:</strong>
    <%= @pet.age %>
</p>

<p class="viewGender">
    <strong>Gender:</strong>
    <%= @pet.gender %>
</p>

<p class="viewPetType">
    <strong>Pet Type:</strong>
    <%= @pet.pet_type %>
</p>

<p class="viewPetSpecies">
    <strong>Pet Species:</strong>
    <%= @pet.pet_species %>
</p>

<p class="viewTraits">
    <strong>Traits:</strong>
    <%= @pet.traits %>
</p>

<p class="viewDescription">
    <strong>Description:</strong>
    <%= @pet.description %>
</p>

<p class="viewOwner">
    <strong>Owner:</strong>
    <%= @pet.owner %>
</p>

<p class="viewPhoneNumber">
    <strong>Phone Number:</strong>
    <%= @pet.number %>
</p>

<p class="viewEmail">
    <strong>Email:</strong>
    <%= @pet.email %>
</p>

<p class="viewCity">
    <strong>City:</strong>
    <%= @pet.city %>
</p>

<td><%= link_to 'Pet List', pets_path %></td>